/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 23, 2018, 10:38:51 AM
    Author     : ky6uHETc
*/

@import "../valo/valo.scss";

@mixin snsocial {
    @include valo;

    hr{
        border:none;
        margin: 8px 0;
        padding:0;
        border-bottom: 1px dotted #d4d4d4;
    }

    .v-app{
        background-color: #f7f7f7;
    }

    // -- Notifications: Start -------------------------------------------------

    .v-Notification.error .detailed-message{
        color: #fff;
        text-align: left;
        font-size: 13px;
        font-weight: normal;
        margin: 10px 0;
        ul {
            margin: 5px 0;
            padding-left: 20px;
            list-style: none;
            li::before{
                content: "\2013 ";
                display: inline-block;
                margin-left: -15px;
                margin-right: 5px;
            }
        }
    }
    .v-Notification.humanized{
        box-shadow: 0 0 25px rgba(125, 175, 225,.75);
        color: #333;
    }
    .v-Notification.tray{
        box-shadow: 0 0 25px rgba(125, 225, 175,.75);
        .v-Notification-caption{
            color: #393;
        }
    }

    // -- Notifications: End ---------------------------------------------------


    .v-caption{
        font-weight: 300;
    }
    .v-caption.v-disabled{
        opacity: 0.3;
    }
    .v-button.v-disabled{
        opacity: 0.15;
    }
    .v-button-link.danger{
        color: #c33;
    }
    .v-button-link:focus::after{
        border-color: transparent;
        box-shadow: none;
    }
    .v-button-small,
    .v-button-tiny.v-button-primary{
        font-size: 12px;
        font-weight: normal;
    }
    .v-button.dates-input{
        padding: 0 50px 0 12px;
    }
    .v-label-forbidden{
        h1{
            margin-top: 0.4em;
        }
    }
    .v-textfield-error{
        color: #dd372b;
    }
    .v-textarea-console{
        font: 12px monospace;
        overflow: auto;
        background: #333;
        color: #ddd;
        white-space: pre;
    }
    .v-filterselect.v-readonly [class$="button"]{
        display:none;
    }
    .v-filterselect{
        img.v-icon{
            max-height: 32px;
            margin-left: 3px;
            margin-top: 3px !important;
        }
    }
    .v-filterselect-item-disabled,
    .v-filterselect-item-disabled.gwt-MenuItem-selected{
        background: #fff;
        opacity: 0.5;
        color: #474747;
    }
    .v-select-optiongroup{
        &.v-readonly{
            .v-select-option{
                input ~ label{
                    color: #7d7d7d;
                }
                input:checked ~ label{
                    color: #545454;
                    &::after{
                        background: #545454;
                    }
                }
            }
            .v-checkbox{
                input ~ label{
                    color: #7d7d7d;
                    cursor: default;
                }
                input:checked ~ label{
                    color: #545454;
                    &::after{
                        color: #545454;
                        background: transparent;
                    }
                }
            }
        }
        &.small{
            font-size: 12px;
            .v-radiobutton, .v-checkbox{
                margin-right: 12px;
            }
        }
    }
    .v-select-optiongroup-buttonsbar{
        border-radius: 4px;
        border: 1px solid #d5d5d5;
        border-top-color: #d5d5d5;
        border-bottom-color: #bcbcbc; 
        white-space: nowrap;
        width: auto !important;
        .v-select-option{
            margin: 0 !important;
            padding: 0;
            display:inline-block;
            label{
                border-left: 1px solid #fff;
                border-right: 1px solid #d5d5d5;
                background-image: -webkit-linear-gradient(top, #fafafa 2%, #efefef 98%);
                background-image: linear-gradient(to bottom,#fafafa 2%, #efefef 98%);
                padding: 4px 10px;
                height: 22px;
                font-size: 12px;
                line-height: 22px;
            }
            input:checked ~ label{
                background-image: -webkit-linear-gradient(bottom, #fafafa 2%, #e5e5e5 98%);
                background-image: linear-gradient(to top,#fafafa 2%, #e5e5e5 98%);
                color: #197de1;
                text-shadow: 1px 1px 1px #fff;
            }
            label::before,
            label::after{
                display: none !important;
            }
        }
        .v-select-option:first-child label{
            border-left: none;
            border-radius: 4px 0 0 4px;
        }
        .v-select-option:last-child label{
            border-right: none;
            border-radius: 0 4px 4px 0;
        }
    }
    .v-select-optiongroup-buttonsbar.with-checkboxes{
        .v-select-option{
            label{
                padding-left: 26px;
            }
            label::before{
                display: inline-block !important;
                width: 15px;
                height: 15px;
                top: 8px;
                left: 7px;

            }
            input:checked ~ label::after{
                display: inline-block !important;
                top: 12px;
                left: 11px;
            }
        }
    }

    .v-select-optiongroup-buttonsbar.with-checkboxes.multiselect{
        padding: 0 !important;
        .v-select-option{
            input:checked ~ label::after{
                display: inline-block !important;
                top: 6px;
                left: 6px;
            }
        }
    }


    // -- Tree combobbox: Start ------------------------------------------------

    .v-customcomponent-tree-combobox{

        .v-popupbutton{
            text-align: left;
            height: 32px;
            font-size: 13px;
            width: 1px;
            padding-right: 0;
            padding-left: 0;
            border: 0;
            border-radius: 0 4px 4px 0;
            .v-popup-indicator::before{
                position: absolute;
                right: 5px;
                top: 0;
                padding: 6px 7px 6px 9px;
                font-size: 12px;
                line-height: 18px;
                border-left: 1px solid #cbcbcb;

            }
        }
        .v-popupbutton:focus::after{
            -webkit-box-shadow: none;
            box-shadow: none;
        }
        .v-popupbutton.null{
            color: #999;
        }
        &.focus .v-textfield{
            -webkit-box-shadow: 0 0 0 2px rgba(25, 125, 225, 0.5);
            box-shadow: 0 0 0 2px rgba(25, 125, 225, 0.5);
        }
    }
    .v-csslayout-tree-combobox-popupcontent{
        > .v-caption{
            display:none;
        }
        .v-tree{
            overflow: auto;
        }
    }
    .tree-combobox-popupcontent{
        max-height: 45vh;
    }

    // -- Tree combobbox: End --------------------------------------------------



    // -- FieldItemsTable: Start -----------------------------------------------

    .v-customcomponent-FieldItemsTable{
        .v-table .v-table-cell-content{
            height: 28px;
            .v-textfield,
            .v-filterselect{
                height: 27px;
                font-size: 12px;
                margin: 3px 0;
            }
            .v-textfield{
                padding: 4px 7px;
            }
            .v-datefield{
                height: 27px;
                margin: 0;
                .v-textfield{
                    padding-left:28px;
                    margin: 0;
                }
                [class*="button"]{
                    width: 25px;
                    height: 25px;
                }
            }
            .v-filterselect [class*="input"]{
                padding: 4px 7px;
                padding-right: 38px; 
            }
        }
    }

    // -- FieldItemsTable: End -------------------------------------------------


    .v-customcomponent-geo-entity-field {
        .v-spacing{
            width: 6px;
        }
    }

    .v-customcomponent-entry-entity-field {
        .v-spacing{
            width: 6px;
        }
        &.null-value .v-textfield{
            color: #999;
        }
    }


    // -- Login Pane: Start ----------------------------------------------------

    .login-panel {
        animation: 800ms ease 10ms normal backwards 1 running valo-animate-in-slide-up, 600ms ease 100ms normal backwards 1 running valo-animate-in-fade;
        background: white none repeat scroll 0 0;
        border: 1px solid #d5d5d5;
        border-radius: 4px;
        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.05);
        color: #474747;
        max-width: 90%;
        min-width: 208px;
        padding: 25px;
    }
    .login-panel .header .v-label-h4{
        float: left;
        margin:0;
    }
    .login-panel .header .v-label-h3{
        float: right;
        margin:0;
    }

    // -- Login Pane: End ------------------------------------------------------


    // -- Valo Menu: Start -----------------------------------------------------

    .valo-menu{
        width:229px;
        /*transition: width 3000ms ease-in 400ms;*/
        >.v-layout>.v-button{
            margin: 3px 14px;
            padding: 0 8px 1px;
            line-height: 1em;
            font-size: 14px;
            width: 200px;
            height: 33px;
            text-align: left;
            .v-icon{
                font-size: 18px;
                width: 18px;
                vertical-align: middle;
            }
            .v-button-caption{
                margin-left: 10px;
            }
        }
        >.v-layout>.v-caption,
        >.v-layout>.v-label{
            margin: 3px 23px;
            line-height: 1em;
            font-size: 14px;
            display:block;
        }
        >.v-layout>.v-caption{
            margin-top: 12px;
        }
        >.v-layout>.v-label{
            margin-bottom: 12px;
            margin-left: 24px;
            width: auto !important;
        }
    }
    .valo-menu-title{
        height: 43px !important;
        width: 100%;
        text-align: left;
        font-size: 14px;
        line-height: 16px;
        position: absolute;
        padding-left: 66px;
        strong{
            font-size: 16px;
        }
    }
    .v-menubar-user-menu{
        position:absolute;
        top: 0;
        margin: 7px;
        height: 44px;
        z-index: 11;
        > .v-menubar-menuitem img.v-icon{
            border: 2px solid #fff;
            float:left;
            box-shadow: 0 0 3px #fff;
            width: 36px;
            height: 36px;
        }
        > .v-menubar-menuitem {
            white-space: nowrap;  
            color: transparent !important;
            height: 44px;
            width: 220px;
            padding: 0 6px;
            > .v-menubar-submenu-indicator + .v-menubar-menuitem-caption::after{
                color: #fff !important;
                content: "\f0c9";
                font-size: 14px;
                position: absolute;
                right: 16px;
                top: 6px;
            }
            &.v-menubar-menuitem-selected > .v-menubar-submenu-indicator + .v-menubar-menuitem-caption::after,
            &:hover > .v-menubar-submenu-indicator + .v-menubar-menuitem-caption::after{
                opacity: 1.0;
            }
        }
    }
    .valo-menuitems{
        margin-top: 80px;
        margin-bottom: 13px;
        width: 229px;
        .separator{ 
            line-height: 20px;
            height: 20px;
            overflow: hidden;
            display: block;
            hr{
                border:none;
                margin: 12px 15px 10px;
                padding:0;
                border-bottom: 1px dotted #999;
            }
        }
        .valo-menu-item{
            padding: 8px 19px 7px;
        }
        .valo-menu-item-wrap .v-icon{
            font-size: 22px;
            margin-left: 2px;
            margin-right: 12px;
            width: 12px;
            text-align: center;
        }
        .valo-menu-item.selected,
        .valo-menu-item.selected .v-icon{
            color: #f9fcff;
        }
        [class*="caption"]{
            padding: 0;
            white-space: normal;
            line-height: 18px;
        }
    }

    // -- Valo Menu: End -------------------------------------------------------


    // -- UI: Start ------------------------------------------------------------

    .v-ui[width-range~="0-1000px"]{
        padding-top: 43px;
        overflow: hidden;
        .v-button.minimize-sidebar{
            display:none;
        }
        .v-slot-valo-menu{
            position: fixed;
        }
        .valo-menu-title{
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            text-align: left;
        }
        .serverTimeDisplay{
            position: fixed;
            top: 5px;
            color: #eee;
            border-left: 1px solid #50b0ff;
            height: 34px;
            left: 225px;
            width: auto;
            line-height: 16px;
            overflow: hidden;
            .v-label{
                padding-left: 10px;
                text-align: left;
                font-size: 11px;
            }
        }
        .v-menubar-user-menu{
            position: fixed;
        }
        .valo-menu{
            >.v-layout>.v-button{
                margin: 3px 12px;
                padding: 0 8px 1px;
                line-height: 1em;
                font-size: 14px;
                width: 30px;
                height: 30px;
                text-align: center;
                .v-icon{
                    font-size: 12px;
                    width: 14px;
                    vertical-align: middle;
                    position: relative;
                    top: -1px;
                }
                .v-button-caption{
                    display: none;
                }
            }
            >.v-layout>.v-caption,
            >.v-layout>.v-label{
                display: none;
            }
        }
        .valo-menu,
        .valo-menuitems{
            width:57px;
        }
        .valo-menu-item{
            padding: 6px 20px;
        }
        .valo-menu-item-wrap .v-icon{
            font-size: 20px;
            margin-left: -3px !important;
        }
        .valo-menu-item-wrap .valo-menu-item-caption{
            display: none;
        }
        .view-content.project-data{
            padding: 10px 20px 5px;
            .v-tabsheet-main-view .v-tabsheet-tabitemcell .v-caption{
                font-size: 12px;
            }
        }
        .active-users{
            top: 5px;
        }
        .v-menubar-user-menu .v-menubar-menuitem{
            padding:0;
        }
        .top-scope-controls{
            position:fixed;
            top: 2px;
            left: 225px;
            right: 180px;
            box-shadow: none;
            width: auto !important;
            padding: 3px 0;
            border-left: 1px dotted rgba(255,255,255,0.25);
            border-right: 1px dotted rgba(255,255,255,0.25);
            .v-filterselect-input{
                font-size: 16px;
            }
        }
        .view-content.project-data .dashboard-view .v-slot-header{
            margin-top: -105px !important;
        }

        &.sidebar-minimized.project-scope{
            .valo-menu{
                width:57px;
            }
            .top-scope-controls{
                padding-left: 0;
                right: 50px;
                border: none;
            }
        }
    }
    .v-ui[width-range~="1000px-1440px"]{
        .valo-menu{
            >.v-layout>.v-button{
                margin: 0 7px;
                padding: 0 6px 1px;
                line-height: 1em;
                width: 135px;
                height: 28px;
                font-size: 11px;
                .v-icon{
                    font-size: 13px;
                    width: 13px;
                }
                .v-button-caption{
                    margin-left: 7px;
                }
            }
            >.v-layout>.v-button.minimize-sidebar{
                height: 22px;
                width: 14px;
                padding: 0 6px 1px 0;
                right: -14px;
                .v-icon{
                    width: 12px;
                }
            }
            >.v-layout>.v-caption,
            >.v-layout>.v-label{
                margin: 3px 14px;
                line-height: 1em;
                font-size: 11px;
                display:block;
            }
            >.v-layout>.v-caption{
                margin-top: 7px;
            }
            >.v-layout>.v-label{
                margin-bottom: 7px;
                margin-left: 15px;
                width: auto !important;
            }
        }
        .valo-menu,
        .valo-menuitems{
            width:150px;
        }
        .valo-menu-title{
            width:149px;
            font-size: 11px;
            line-height: 14px;
            padding: 10px 15px;
            padding-left: 60px;
            text-align: left;
            strong{
                display: block;
                font-size: 14px;
                font-weight: 800;
            }     
        }
        .v-menubar-user-menu{
            .v-menubar-menuitem{
                font-size: 12px;
                padding: 0;
                width: 142px;
                .v-menubar-menuitem-caption{
                    white-space: normal;
                }
                img.v-icon{
                    width:36px;
                    height: 36px;
                    border-radius: 50%;
                }
            }
        }
        .separator{
            /*border-top: 1px solid #555;*/
        }
        .separator hr{
            /* border-top: 1px solid #333;
            border-bottom: 1px solid #555;
            margin: 10px 0; */
            border:none;
            margin: 9px 10px 8px;
            padding:0;
            border-bottom: 2px dotted #7d7d7d;
        }
        .valo-menu-item{
            padding: 9px 8px 7px 16px;
            min-height: 40px;
            /*border-top: 1px solid #555;*/
        }
        .valo-menu-item.has-separator,
        .valo-menu-item:first-child{
            border-top: none;
        }
        .valo-menu-item-wrap{ 
            max-width: 130px;
            display: block;
            line-height: 20px;
            >span{
                display: inline-block;
                line-height: 14px;
                text-align: left;
                margin: 0;
                padding: 0;   
            }
            .v-icon{
                font-size: 18px;
                line-height: 18px;
                margin: 0 8px 0 -2px;
                text-align: center;
            }
            .valo-menu-item-caption{
                font-size: 11px;
                line-height: 12px;
                white-space: normal;
                width: auto;
                font-weight: 300;
                letter-spacing: 0.03em;
                width: 99px;
            }
        }
        .project-data{
            padding-top: 50px;
        }
        .active-users{
            top: 55px;
        }
        &.sidebar-minimized.project-scope{
            .valo-menu-subitem{
                .valo-menu-subitem-caption{
                    margin-left: 3px;
                    width: 30px;
                }
            }
        }
    }
    .v-ui[width-range~="1440px"]{
        .valo-menu{

        }
    }

    // -- UI: End --------------------------------------------------------------

    .view-content-wrapper{
        .active-users{
            position: absolute;
            right:20px;
            z-index: 10;
            .user-item{
                background: none;
                border: 0;
                box-shadow: none;
                font-size: 10px;
                color: #7d7d7d;
                opacity: 0.75;
                padding: 0;
                margin-left: 5px;
                position: relative;
                .v-button{
                    height: 27px;
                }
                .v-icon{
                    width: 32px;
                    border-radius: 50%;
                    margin-top: -5px;
                    border: 1px solid #fff;
                    /*box-shadow: 0 0 7px #7d7d7d;*/
                    box-sizing: border-box;
                }
                .v-button-caption{
                    position: absolute;
                    right: 5px;
                    bottom: -20px;
                    display: none;
                    color: #fff;
                    background: #197de1;
                    padding: 0 5px;
                    border-radius: 3px;
                    font-size: 12px;
                }
            }
            .user-item:hover{
                opacity: 1.0;
                background:none;
                box-shadow: none;
                .v-icon{
                    box-shadow: 0 0 7px #197de1;
                }
                .v-button-caption{
                    display:block;
                }
            }
            .v-button:focus:after{
                border-color: transparent;
                box-shadow: none;
                -webkit-box-shadow: none;
            }
        }
        .view-content{
            padding: 10px 20px 5px;
        }
    }

    .entries .viewheader,
    .registry-entries .viewheader,
    .v-window .viewheader,
    .v-popupbutton-popup .viewheader{
        padding: 10px 0;
        font-size: 12px;
        font-weight: 300;
        .v-spacing{
            width: 8px;
        }
        .v-widget{
            position: relative;
        }
        .v-caption-inline-icon span.v-icon{
            font-size: 14px;
            line-height: 30px;
            width: 32px;
        }
        .v-textfield,
        .v-filterselect,
        .v-filterselect-input{
            height: 32px;
        }
        .v-textfield-inline-icon{
            padding-left: 32px;
        }
        .v-filterselect-input{
            padding-right: 32px;
        }
        .v-filterselect-button{
            width: 32px;
        }
        .v-filterselect [class$="button"]::before{
            width: 32px;
        }
        .v-select-optiongroup-horizontal .v-radiobutton{
            margin-top: 4px;
            margin-right: 12px;
        }
        .v-button-dates-input{
            height: 32px;
            background: #fff;
            box-shadow: none;
            .v-popup-indicator{
                border-left:1px solid #e4e4e4;
                width: 32px;
                position: absolute;
                right: 1px;
                top: 1px;
                bottom: 1px;
                height: 100%;
            }
            .v-popup-indicator:before{
                content: "\f078";
                font-family: FontAwesome;
                font-size: 1em;
                margin:-0.47em;
                line-height: 1;
                opacity: 1.0;
                position: absolute;
                top: 50%;
                text-align: center;
                transition: color 140ms ease 0s;
            }
            .v-popup-indicator:hover:before{
                color: #474747;
            }
        }
        .v-button-dates-input:hover{
            background: #fff;
        }
        .v-button-dates-input:hover:after{
            background: transparent;
        }
        .v-button-dates-input.all-time{
            color: #a3a3a3;
        }
        .v-menubar{
            height: 32px;
            line-height: 30px;
            &.primary{
                color: #ecf2f8;
                border: 1px solid #1362b1;
                border-top-color: rgb(19, 98, 177);
                border-bottom-color: rgb(19, 98, 177);
                border-top-color: #156ab3;
                border-bottom-color: #1156a8;
                background-color: #197de1;
                background-image: -webkit-linear-gradient(top, #1b87e3 2%, #166ed5 98%);
                background-image: linear-gradient(to bottom,#1b87e3 2%, #166ed5 98%);
                -webkit-box-shadow: inset 0 1px 0 #4d98e6, inset 0 -1px 0 #166bca, 0 2px 3px rgba(0, 0, 0, 0.05);
                box-shadow: inset 0 1px 0 #4d98e6, inset 0 -1px 0 #166bca, 0 2px 3px rgba(0, 0, 0, 0.05);
                text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.05);
            }
        }
        .v-button{
            height: 32px;
        }

    }

    .v-popupbutton-popup .filtermore{
        max-height: 60vh;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .entries .viewfooter,
    .registry-entries .viewfooter {
        padding: 10px 0 0 ;
        font-size: 12px;
    }


    // -- Tables: Start --------------------------------------------------------

    .v-table-header-wrap{
        font-size: 11px;
        .v-table-caption-container{
            padding: 9px 6px 6px;
            min-height: 29px;
            border-left: 0;
        }
        .v-table-sort-indicator{
            height: 29px;
            line-height: 27px;
        }
        .v-table-header-sortable{
            cursor: pointer;
            &:hover{
                color: #197de1;
            }
        }
        .v-table-header-cell-asc .v-table-sort-indicator, 
        .v-table-header-cell-desc .v-table-sort-indicator{
            width: 11px;
        }
        .v-table-resizer{
            height: 29px;
        }
        td{
            border-left: 1px solid #c5c5c5;
            box-sizing: border-box;
        }
        td:first-child{
            border-left: 1px solid transparent;
        }
    }
    .v-table{
        font-size: 14px;
        .v-table-cell-content{
            height:28px;
        }
        .v-table-cell-wrapper{
            padding: 0 6px;
        }
        .v-selected[class*="-row"]{
            outline: 1px solid #197de1;
            outline-offset: -1px;
        }
    }
    .v-table-row-deleted .v-table-cell-wrapper,
    tr.deleted .v-table-cell-wrapper{
        opacity: 0.3;
    }
    .v-table-row-disabled .v-table-cell-wrapper,
    tr.disabled .v-table-cell-wrapper{
        opacity: 0.3;
    }
    .v-treetable [class*="cell-wrapper"]{
        padding: 0;
        min-height: 12px;
    }
    .v-treetable .v-table-header-wrap td{
        box-sizing: content-box;
    }
    .v-treetable [class*="caption-container"], 
    .v-treetable [class*="footer-container"]{
        box-sizing: border-box;
    }
    .v-verticallayout.xls-export-window {
        font-size: 14px;
    }
    .v-verticallayout-entries{
        .v-table-cell-content{
            font-size: 12px;
            font-weight: 400;
            height: 26px;
            border-top-color: #eaeaea;
            p{
                margin: 5px 0;
                line-height: 14px;
            }
            pre{
                font-size: 11px;
                font-family: unset;
                line-height: 14px;
                margin: 5px 0;
            }
            .v-link{
                white-space: nowrap;
                margin: 0;
            }
            .v-textfield.fullcellwidth{
                width: calc(100% + 12px) !important;
                height: 25px;
                margin: 0 -6px;
                padding: 2px 6px;;

            }
            .v-textfield.v-readonly{
                background: transparent;
                border-color: transparent;
            }
            .v-button{
                height:20px;
                padding: 0 8px;
            }
            .v-button.attachment-image{
                padding: 0 7px;
                .v-popup-indicator{
                    width: 9px;
                    &::before{
                        font-size: 0.6em;
                    }
                }
            }
        }
    }
    .v-verticallayout-registry-entries{
        .v-table-cell-content{
            font-size: 12px;
            font-weight: 400;
            border-top-color: #eaeaea;
        }
        .v-table-cell-content p{
            margin: 5px 0;
            line-height: 15px;
        }
        .v-table-cell-content pre{
            font-size: 11px;
            font-family: unset;
            line-height: 15px;
        }
        .v-table-cell-content-column-id{
            background: #f1f1f1;
            color: #999;
            font-size: 11px;
        }
    }

    // -- Tables: End --------------------------------------------------------


    // -- Dialog entry: Start --------------------------------------------------

    .dialog-entry{
        .v-window-outerheader{
            background: #fff;
        }
        .v-window-contents > .v-scrollable{
            background: #fafafa;
        }
        .v-window-top-toolbar{
            margin-bottom: 12px !important;
            padding-bottom: 0 !important;
            line-height: 20px;
            background: #fff;
            border-top: 0;
            .v-caption{
                font-size: 9px;
                line-height: 12px;
                color: #bfbfbf;
                padding: 0 0 1px;
                margin-top: -6px;
                text-transform: lowercase;
            }
            .v-label,
            .v-textfield{
                border:0;
                padding:0;
                height: 10px;
                line-height: 10px;
                background: transparent;
                color: #999;
                font-size: 9px;
            }
            .v-filterselect,
            .v-filterselect  [class*="input"]{
                border:0;
                padding:0;
                height: 10px;
                background: transparent;
                font-size: 9px;
                color: #999;
                line-height: 10px;
            }
            .v-filterselect.v-readonly [class$="button"],
            .v-filterselect.v-readonly [class$="button"]::before{
                display: none;
            }
        }
        .v-window-bottom-toolbar{
            background-color: #ffffff;
            background-image: -webkit-linear-gradient(top, #f0f0f0 0, #ffffff 4px);
            background-image: linear-gradient(to bottom, #f0f0f0 0 ,  #ffffff 4px);
            .v-spacing{
                width: 8px;
            }
        }
        .v-gridlayout.entry-fields,
        .v-formlayout.entry-fields,
        .v-tabsheet-content-entry-fields{
            .v-checkbox,
            .v-radiobutton,
            .v-textfield,
            .v-textarea,
            .v-filterselect,
            .v-select-select{
                font-size: 12px;
            }
            .v-datefield,
            .v-filterselect{
                height:28px;
            }
            .v-textfield,
            .v-filterselect [class*="input"],
            .v-select-select,
            .v-datefield [class*="textfield"]{
                padding: 2px 8px;
                height:28px;
            }
            .v-filterselect [class*="input"]{
                padding-right: 37px;
            }
            .v-datefield [class*="textfield"]{
                padding-left:37px;
            }
            .v-textfield-inline-icon{
                padding-left: 30px;
            }
            .v-caption-inline-icon span.v-icon{
                width: 32px;
                height:30px;
                font-size: 13px;
                line-height: 24px;
            }
            .v-filterselect [class$="button"],
            .v-filterselect [class$="button"]::before,
            .v-datefield [class*="button"]{
                width: 29px;
                height:26px;
                font-size: 11px;
                line-height: 12px;
            }
            .v-filterselect [class$="button"]::before{
                height:18px;
            }
            .v-button.dates-input{
                padding: 0 44px 0 12px;
            }
            .v-customcomponent-tree-combobox{
                .v-popupbutton{
                    height: 28px;
                    line-height: 12px;
                    .v-popup-indicator::before{
                        line-height: 14px;
                        background: #fff;
                        opacity: 1;
                        color: rgba(0,0,0,.3);
                        margin-top: 1px;
                    }
                }
            }
            .v-button-link{
                height: 27px;
                line-height: 26px;
                padding: 0 8px;
            }
            .v-accordion{
                .v-accordion-item-content > .v-widget{
                    padding: 12px;
                }
                .v-accordion-item-caption .v-caption{
                    font-size: 12px;
                    line-height: 12px;
                    color: #7d7d7d;
                }
            }
        }
        .v-formlayout.entry-fields{
            [class*="spacing"] > tbody > [class*="row"] > td{
                padding-top: 7px;
                line-height: 28px;
            }
            [class*="margin-top"] > tbody > [class*="firstrow"] > td{
                padding-top: 12px;
            }
            [class*="margin-right"] > tbody > [class*="row"] > [class*="contentcell"]{
                padding-right: 15px;
            }
            [class*="margin-top"] > tbody > [class*="lastrow"] > td{
                padding-bottom: 25px;
            }
            [class*="margin-left"] > tbody > [class*="row"] > [class*="captioncell"]{
                padding-left: 15px;
            }
            .v-formlayout-captioncell{
                width: 30%;
                .v-caption{
                    font-size: 12px
                }
            }
            .v-caption-v-disabled{
                opacity: 0.3;
            }

            .v-formlayout-contentcell .v-button-link{
                height: 27px;
                line-height: 26px;
                padding: 0 8px;
            }

            .v-formlayout-contentcell .v-textfield{
                width: 100%;
                font-size: 12px;
            }
            .v-formlayout-contentcell .v-textarea{
                width: 100%;
                min-width: 330px;
                font-size: 12px;
            }
            .v-formlayout-contentcell .v-datefield .v-textfield,
            .v-formlayout-contentcell .v-textfield.v-datefield,
            .v-formlayout-contentcell .v-textfield.v-numberfield{
                min-width: auto;
                width: auto;
            }
        }
        .v-gridlayout.entry-fields{
            padding: 15px 5px;
            .v-gridlayout-slot .v-caption,
            .v-gridlayout-slot .v-captiontext{
                line-height: 8px;
            }
        }
        .v-verticallayout.entry-fields .v-select-optiongroup.multiselect,
        .v-formlayout.entry-fields .v-select-optiongroup.multiselect{
            max-height: 250px;
            overflow-y: auto;
            width: 100%;
            border: 1px solid #d5d5d5;
            padding: 4px 12px;
            border-radius: 4px;
            background: #fff;
            -webkit-box-shadow: inset 0 1px 0 #f7f7f7, 0 1px 0 rgba(255, 255, 255, 0.1);
            box-shadow: inset 0 1px 0 #f7f7f7, 0 1px 0 rgba(255, 255, 255, 0.1);
            h3{
                margin: 0;
                font-size: 16px;
            }
        }
        .v-verticallayout.entry-fields .v-select-optiongroup.multiselect.small,
        .v-formlayout.entry-fields .v-select-optiongroup.multiselect.small{
            height: 100px;
            .v-select-option{
                display: inline-block;
                width: 40%;
            }
        }
        .v-formlayout.entry-fields .v-formlayout-contentcell .v-horizontallayout .v-checkbox{
            margin-top: 5px;
        }
        .v-tabsheet.entry-fields{
            .v-caption,
            .v-formlayout-captioncell .v-caption{
                font-size: 11px;
                line-height: 28px;
            }
            .v-caption-invalid-field{
                color: #ed473b;
            }
            .v-tabsheet-tabitemcell-invalid-fields{
                .v-caption{
                    color: #ed473b;
                }
            }
            [class*="margin-right"] > tbody > [class*="row"] > [class*="contentcell"]{
                padding-right: 10px;
            }
            [class*="margin-left"] > tbody > [class*="row"] > [class*="captioncell"]{
                padding-left: 10px;
            }
            .v-panel-borderless{
                .v-panel-caption{
                    display: none;
                }
            }
            .v-label.info{
                font-size: 12px;
                td{
                    width:50%;
                    padding: 0;
                    vertical-align: top;
                    ul{
                        margin: 6px 0;
                        padding: 0 0 0 24px;
                    }
                }
                td:first-child{
                    padding-right: 5px;
                }
                td:last-child{
                    padding-left: 5px;
                }
                .entry-properties > ul{
                    height: 135px;
                    overflow-y: scroll;
                }
            }
            .v-checkbox,
            .v-radiobutton,
            .v-textfield,
            .v-textarea{
                font-size: 12px;
            }
            .invalid-field,
            .invalid-field > input{
                border-color: ed473b;
            }
            .v-verticallayout{
                .v-caption{
                    font-size: 12px;
                    line-height: 12px;
                }
            }
            .v-customcomponent-FieldItemsTable{
                .v-spacing{
                    width: 8px;
                    height: 8px;

                }
                .v-verticallayout.v-margin-top{
                    padding-top: 12px;
                }
                .v-verticallayout.v-margin-bottom{
                    padding-bottom: 12px;
                }
                .v-table-header-wrap{
                    border-radius: 4px 4px 0 0 ;
                    height: 27px;
                    .v-table-caption-container{
                        padding: 6px 10px 5px;
                        min-height: 27px;
                    }
                }
                .v-table-body{
                    border-radius: 0 0 4px 4px ;
                }
                .v-table-cell-content{
                    padding: 0;
                    vertical-align: top;
                    .v-table-cell-wrapper{
                        padding:0;
                        .v-label{
                            margin: 3px 9px;
                            line-height: 27px;
                        }
                        .v-caption{
                            font-size: 11px;
                        }
                        .v-textfield,
                        .v-textarea,
                        .v-textfield-error,
                        .v-filterselect,
                        .v-filterselect-input{
                            border-color: transparent;
                            box-shadow: none;
                            background: transparent;
                            line-height: 12px;
                            font-size: 12px;
                            height: 27px;
                            margin: 0;

                        }
                        .v-textarea{
                            line-height: 1.3em;
                            min-height: 60px;
                        }
                        .v-textfield{
                            padding: 4px 6px;
                        }
                        .v-datefield-textfield{
                            padding-left: 30px;
                        }
                        .v-datefield{
                            height: 27px;
                        }
                        .v-datefield [class*="button"]{
                            width: 26px;
                            line-height: 20px;
                        }
                        .v-textfield:focus,
                            .v-filterselect-input:focus{
                            border-color: #d5d5d5;
                        }
                        .v-textfield-error:focus{
                            border-color: #ed473b;
                        }
                        .v-filterselect{
                            [class$="button"]{
                                width: 32px;
                                &::before{
                                    width:32px;
                                }
                            }
                        }
                        .v-readonly{
                            opacity: 0.75;
                        }
                        .v-readonly:focus{
                            border-color: transparent;
                        }
                        .response-details,
                        .checklist-item{
                            padding: 0 6px;
                            .v-textfield,
                            .v-textarea,
                            .v-textfield-error,
                            .v-filterselect,
                            .v-filterselect-input{
                                border-color: #d5d5d5;
                            }

                        }
                        .v-gridlayout-spacing-on{
                            padding: 0;
                            width: 6px;
                            height: 6px;
                        }
                        .v-csslayout{
                            margin: 0;
                            padding: 7px 0;
                        }
                        .v-spacing{
                            width: 5px;
                        }
                    }
                }
                .v-table-cell-content:first-child{ 
                    position: relative;
                    border-left: 1px solid transparent;
                    .v-table-cell-wrapper{
                        padding-left: 30px;
                    }
                    .v-table-cell-wrapper::before{
                        content: "";
                        display: inline-block;
                        -webkit-box-sizing: border-box;
                        -moz-box-sizing: border-box;
                        box-sizing: border-box;
                        width: 19px;
                        height: 19px;
                        position: absolute;
                        top: 7px;
                        left: 6px;
                        font-size: 13px;
                        text-align: center;
                        padding: 0 9px;
                        color: #191919;
                        font-weight: 400;
                        border-radius: 4px;
                        border: 1px solid #c5c5c5;
                        border-top-color: #c5c5c5;
                        border-bottom-color: #bcbcbc;
                        background-color: #fafafa;
                        background-image: -webkit-linear-gradient(top, #fafafa 2%, #efefef 98%);
                        background-image: linear-gradient(to bottom,#fafafa 2%, #efefef 98%);
                        -webkit-box-shadow: inset 0 1px 0 white, inset 0 -1px 0 #e7e7e7, 0 2px 3px rgba(0, 0, 0, 0.05);
                        box-shadow: inset 0 1px 0 white, inset 0 -1px 0 #e7e7e7, 0 2px 3px rgba(0, 0, 0, 0.05);
                        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.05);
                        padding: 0;
                    }
                    .v-table-cell-wrapper::after{
                        display: inline-block;
                        -webkit-box-sizing: border-box;
                        -moz-box-sizing: border-box;
                        box-sizing: border-box;
                        width: 19px;
                        height: 19px;
                        position: absolute;
                        top: 10px;
                        left: 6px;
                        border-radius: 4px;
                        font-size: 13px;
                        text-align: center;
                        content: "\f00c";
                        font-family: ThemeIcons;
                        color: transparent;
                        -webkit-transition: color 100ms;
                        -moz-transition: color 100ms;
                        transition: color 100ms;
                    }
                }

                tr.v-selected{
                    .v-table-cell-content:first-child{ 
                        .v-table-cell-wrapper::after{
                            color: #197de1;
                        }
                    }
                    .v-table-cell-content .v-table-cell-wrapper {
                        .v-button-info,
                        .v-textfield,
                        .v-textarea,
                        .v-filterselect-input{
                            color: #fff;
                        }
                    }
                }

                .v-table.readonly tr.v-selected{
                    outline-color: #545454;
                    background-color: rgba(25, 25, 25, 0.03);
                    .v-table-cell-content:first-child{ 
                        .v-table-cell-wrapper::after{
                            color: #545454;
                        }
                    }
                }
            }
            .v-customcomponent-FieldItemsTable.v-customcomponent-invalid-field{ 
                .v-table-header-wrap,
                .v-table-body{
                    border-color: #ed473b;
                }
            }
            .v-formlayout.entry-fields [class*="margin-top"] > tbody > [class*="firstrow"] > td{
                padding-top: 10px;
            }
            .v-panel-borderless{
                .v-panel-captionwrap{
                    display:none;
                }
            }
        }
    }

    // -- Dialog entry: End ----------------------------------------------------


    // -- serverTimeDisplay: Start ---------------------------------------------

    .serverTimeDisplay {
        position: absolute;
        bottom: 10px;
        left: 0;
        width: 100%;
        text-align: center;
        color: #7d7d7d;
        line-height: 20px;
    }
    .serverTimeDisplay_text {
        text-align: center;
        font-size: 10px;
    }
    .serverTimeDisplay_time {
        text-align: center;
        font-size: 12px;
    }

    // -- serverTimeDisplay: End -----------------------------------------------

}